

body, html {
    margin: 0;
    padding: 0;
  }
header {
    display: flex;
    box-sizing: border-box;
    background-color: lightgray;
    padding: 25px;

}
article {
    padding: 50px;
  }
  
.small-square {
    display: flex;
    height: 75px;
    width: 75px;
    background-color: #0288d1;
}

.stripe-one {
    height: 25vh;
    background-color: #0288d1;
}
.stripe-two {
    height: 25vh;
    background-color: #50E3C2;
}
.stripe-three {
    height: 25vh;
    background-color:#B8E986;
}
.stripe-four {
    height: 25vh;
    background-color: #F8E71C;
}
.question-circle {
    position: fixed;
    right: 10px;
    bottom: 10px;
    
}

button {
    height: 60px;
    width: 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 30px;
}


